<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Neverskip Common.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
				<key>dateExpires</key>
				<string>04/06/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JTCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KDCircularProgress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PlayerKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFA2A4B2B5E09F50F08406F925720528BDF2F47C</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45V4F9JX5N</string>
						<key>name</key>
						<string>Jarulss Technology Solutions</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>45V4F9JX5N.com.neverskip.nskparent</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.neverskip.nskparent</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>45V4F9JX5N</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.neverskip.nskparent</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>45V4F9JX5N.com.neverskip.nskparent</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Neverskip Common.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3bd7d589-de07-4b49-a58c-3b51fc207c41</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.neverskip.nskparent</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>45V4F9JX5N</string>
				<key>name</key>
				<string>Jarulss Technology Solutions</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
